{% extends 'pos/partials/base.html' %}
{% load static %}
{% block title %}
Analysis Page
{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Analysis</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'analysis'%}">analysis</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!--  -->
                    <div class="col-xxl-4 col-md-6">
                        <a href="{% url 'item-wise-analysis'%}">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-boxes"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>ItemWise</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End  -->
                    <!--  -->
                    <div class="col-xxl-4 col-md-6">
                        <a href="{% url 'price-wise-analysis'%}">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-tag"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>PriceWise</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- End  -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <a href="{% url 'supplier-wise-analysis'%}">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>SupplierWise</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--  -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-md-6">
                        <a href="{% url 'city-wise-analysis'%}">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-geo"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>CityWise</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Left side columns -->
        </div>
    </section>
</main>
<!-- End #main -->

{% endblock %}